@media (max-width: 575.98px) { 

    .container{
        padding:0 30px 0;
    }

    /* ============banner part============ */
    .common__heading {
        text-align: center;
    }
    .about__title {
        text-align: center;
    }
    .goal__title {
        text-align: center;
    }

    /* ============banner part============ */
    /* ============mission part============ */
    .featureItem {
        min-height: 235px;
    }
    .featureItem__summary {
        font-size: 15px;
        text-align-last:center ;
    }
    
    /* ============mission part============ */
    /* ============benefit part============ */
    .brand {
        flex-wrap: wrap;
        row-gap: 26px;
        column-gap: 20px;
    }
    .brandLogo {
        padding-right: 0px;
    }

    /* ============benefit part============ */
    /* ============team part============ */
    .common--title {
        text-align: center;
    }
    .team {
        padding: 35px 35px 30px 35px;
    }

    .team__title {
        font-size: 16px;
    }
    .team__summary {
        font-size: 14px;
    }
    /* ============team part============ */

    .copynav {
        flex-wrap: wrap;
    }










}